.overlay-act__one
        .pop-up__one
            h2.popup-capture СКИДКА 10% НА ШИНОМОНТАЖ
            p.popup-text При покраске порошковой покраске дисков - скидка на шиномонтаж 10%
            .close-popup__one
              .js-close__campaign