.overlay-act__two
        .pop-up__two
            h2.popup-capture ВОССТАНОВЛЕНИЕ ГЕОМЕТРИИ 20%
            p.popup-text С 01.01.19 по 28.02.19 скидка на восстановление геометрии 20%
            .close-popup__two
              .js-close__campaign