.overlay-act__three
        .pop-up__three
            h2.popup-capture СКИДКА ПОСТОЯННЫМ КЛИЕНТАМ
            p.popup-text Диагностика кондиционера, дозаправка фреоном и заливка масла на СТО «Стелс»
            .close-popup__three
              .js-close__campaign