.overlay-act__four
        .pop-up__four
            h2.popup-capture АКЦИЯ! ДИАГНОСТИКА КОНДИЦИОНЕРА -30%
            p.popup-text Диагностика кондиционера, дозаправка фреоном и заливка масла на СТО «Стелс»
            .close-popup__four
              .js-close__campaign