body {
    padding: 0;
    margin: 0;

}

a{
    list-style: none;
    text-decoration: none;
    color: #fff;
}



.wrapper {
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
    background: #f8f5f2;
    
    
}

.fix{
    position: relative;
    height: 100%;
    width: 100%;
}

.fix-one,.fix-two,.fix-three,.fix-four,.fix-order,.fix-about,.fix-order__form,.fix-order__add{
    position: relative;
    height: 100%;
    width: 100%;
}


.container {
   position: relative;
    margin: 0 auto;
    max-width: 1170px;
}


header {
    background:#273238;
    min-width: 100%;
    min-height: 40px;
}

.section-slider{
    height: 1000px;
}


@import 'libs.scss';
@import 'burgers.scss';
@import 'sliders.scss';
@import 'circle.scss';
@import 'down-menu.scss';
@import 'preloader.scss';
@import 'red-car__switch.scss';
@import 'video.scss';
@import 'index/header.scss';
@import 'index/section-rectangle.scss';
@import 'index/section-actions';
@import 'index/section-services';
@import 'layout-styles/layout-two-three.scss';
@import 'layout-styles/bg-moto.scss';
@import 'layout-styles/price.scss';
@import 'layout-styles/works.scss';
@import 'layout-styles/comments.scss';
@import 'layout-styles/about-company.scss';
@import 'layout-styles/contacts.scss';
@import 'layout-styles/actions.scss';
@import 'layout-styles/actions-diagnostics.scss';
@import 'parallax.scss';
@import 'popup.scss';
@import 'media/media-index.scss';
@import 'media/media-service.scss';
@import 'media/media-comments.scss';
@import 'media/price.scss';
@import 'media/media-actions.scss';
@import 'media/about-company.scss';
@import 'media/actions-diagnostics.scss';
@import 'media/media-bg-moto__wheels.scss';
@import 'media/media-bg__wheels.scss';
@import 'media/contacts.scss';
@import 'media/our-works.scss';
@import 'media/price.scss';
@import 'media-general.scss';
@import 'media/media-burgers.scss';
@import 'media/media-slick.scss';
@import 'media/media-video.scss';
@import 'media/media.scss';



