body {
    padding: 0;
    margin: 0;

}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
    background: #f8f5f2;
    
}

.container {
   position: relative;
    margin: 0 auto;
    max-width: 1170px;
}


header {
    background:#273238;
    min-width: 100%;
    min-height: 40px;
}





@import 'index/header.scss';
@import 'index/section-rectangle.scss';
@import 'index/section-actions';
@import 'index/section-services';
@import 'layout-styles/layout-two-three.scss';
@import 'layout-styles/bg-moto.scss';
@import 'layout-styles/price.scss';
@import 'layout-styles/works.scss';
@import 'layout-styles/comments.scss';
@import 'layout-styles/about-company.scss';
@import 'layout-styles/contacts.scss';
@import 'layout-styles/actions.scss';
@import 'layout-styles/actions-diagnostics.scss';
@import 'media/media-index.scss';
@import 'media/media-service.scss';
@import 'media/media-comments.scss';
@import 'media/price.scss';
@import 'media/media-actions.scss';
@import 'media/about-company.scss';
@import 'media/actions-diagnostics.scss';
@import 'media/media-bg-moto__wheels.scss';
@import 'media/media-bg__wheels.scss';
@import 'media/contacts.scss';
@import 'media/our-works.scss';
@import 'media/price.scss';
@import 'media-general.scss';
@import 'media/media.scss';



