
.header-information{
    font-size: 12px;
    word-spacing: 3px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    color: #fff;
    align-items: center;
}
.header-left{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.header-right{
    display: flex;
    justify-content: flex-end;
    width: 40%;
}
.position-wheel__header{
    display: none;
}
.city-logo,.call-logo,.time-logo{
    height: 12px;
    width: 12px;
}

.city,.timetable,.call{
    display: flex;
}
.position-pict{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25px;
    
}

.city{
    width: 60%;
}
.timetable{
    width: 55%;
}


.mobile{
    font-weight: bold;
    font-size: 14px;
    width: 135px;
}

.order-call{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
}

.call-phone{
    color: #fff;
}

.header-menu{
    color: #212121;
    text-decoration: none;
}

a.foot-link{
color: #fff;
text-decoration: none;
}

.header-text{
    font-size: 14px;
}

a.link-header__logo{
    height: 12px;
    width: 12px;
}