
.zero-one__service {
    font-family: 'Roboto', sans-serif;
    top: 87px;
    margin: 0;
    font-size: 44px;
    right: 69px;
    position: relative;
    z-index: 4;
    font-weight: bold;

}












.service-zero__one{
    display: flex;
    justify-content: center;
    height: 215px;
}
.zero-one__text {
    font-family: 'Roboto', sans-serif;
padding: 0;
font-weight: bold;
font-size: 144px;
margin: 0;
display: block;
color:  #D41F25;
margin-right: 0;
}

.service-zero__one-cap{
justify-content: center;
display: flex;
width: 620px;
}
.zero-one__text-mid {
padding: 0;
font-weight: bold;
font-family: 'Roboto', sans-serif;
position: relative;
z-index: 1;
height: 85px;
font-size: 144px;
margin: 0;
overflow: hidden;
color:  #D41F25;

}

.wheels{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    list-style-type: none
}
.service-zero__one-wheels{
    height: 100%;
    display: flex;
}
.st{
    
    height: 230px;
    width: 270px;
    box-sizing: border-box;
    border-radius: 30%;
    -webkit-clip-path: polygon(52% 0, 74% 0, 100% 48%, 100% 53%, 78% 100%, 51% 100%, 21% 100%, 0 53%, 0 49%, 25% 0);
    clip-path: polygon(52% 0, 74% 0, 100% 48%, 100% 53%, 78% 100%, 51% 100%, 21% 100%, 0 53%, 0 49%, 25% 0);
}


.first-wheel,.second-wheel,.third-wheel,.fourth-wheel {
    justify-content: space-between;
    height: 280px;
    width: 292px;
    align-items: center;
    display: flex;
    flex-direction: column;
}



a.style{
    cursor: inherit;
    height: 30px;
    line-height: 34px;
    width: 260px;
    text-align: center;
    text-decoration: none;
    color: #D41F25;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

a.st-link{
    cursor: inherit;
}


.zero-two__service {
    font-family: 'Roboto', sans-serif;
    top: 87px;
    margin: 0;
    font-size: 37px;
    right: 69px;
    position: relative;
    z-index: 4;
    font-weight: bold;

}
.zero-two__container{
    display: flex;
}
.zero-two__text {
    font-family: 'Roboto', sans-serif;
padding: 0;
font-weight: bold;
font-size: 144px;
margin: 0;
display: block;
color:  #D41F25;
margin-right: 0;
}

.service-zero__two-cap{
height: 215px;
display: flex;
// justify-content: center;
width: 100%;
}
.zero-two__text-mid {
padding: 0;
font-weight: bold;
font-family: 'Roboto', sans-serif;
position: relative;
z-index: 1;
height: 85px;
font-size: 144px;
margin: 0;
overflow: hidden;
color:  #D41F25;

}

.service-zero__two-left{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.setvice-zero__two-right{
    width: 50%;
}

.repair{
   width: 100%;
    height: 450px;
}


ul.benefits-one{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
.bn-position{
    height: 30px;
    width: 30px;
}

.benefits-one{
    display: flex;
}

.benefit-first{
    display: flex;
   width: 230px; 
}




.benefits-two{
    display: flex;
}

.benefit-second{
    display: flex;
   
}

.benefit{
    width: 225px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.benefit-first,.benefit-second{
    width: 290px;
}

.benefit-text{
width: 225px;
height: 155px;
font-size: 18px;
font-family: 'Roboto', sans-serif;
}

///////////////three
.zero-three__service {
    font-family: 'Roboto', sans-serif;
    top: 87px;
    margin: 0;
    font-size: 44px;
    right: 69px;
    position: relative;
    z-index: 4;
    font-weight: bold;

}

.zero-three__text {
    font-family: 'Roboto', sans-serif;
padding: 0;
font-weight: bold;
font-size: 144px;
margin: 0;
display: block;
color:  #D41F25;
margin-right: 0;
}

.service-zero__three-cap{
justify-content: center;
display: flex;
width: 100%;
height: 215px;
}
.zero-three__text-mid {
padding: 0;
font-weight: bold;
font-family: 'Roboto', sans-serif;
position: relative;
z-index: 1;
height: 85px;
font-size: 144px;
margin: 0;
overflow: hidden;
color:  #D41F25;

}

.zero-three__container{
    min-height: 900px;
}
.service-zero__three-video,.company-video{
width: 1170px;
height: 500px;
}


.zero-four__container{
    height: 1130px;
    width: 100%;
}
.service-zero__main{
    height: 100%;
    display: flex;
}

.service-zero__four-left{
    width: 95%;
    background-image:url(../img/four-blur.png);
    background-repeat: no-repeat;
    // background-size: contain;
    background-size: cover;
}



.service-zero__four-right{
   height: 100%;
   display: flex;
   align-items: center;
}


.zero-four__partners{
    width: 625px;
    display: flex;
    
}
.zero-four__service {
    font-family: 'Roboto', sans-serif;
    top: 87px;
    margin: 0;
    font-size: 44px;
    right: 69px;
    position: relative;
    z-index: 4;
    font-weight: bold;

}

.zero-four__text {
    font-family: 'Roboto', sans-serif;
padding: 0;
font-weight: bold;
font-size: 144px;
margin: 0;
display: block;
color:  #D41F25;
margin-right: 0;
}

.service-zero__four-cap{
display: flex;
width: 100%;
height: 215px;
}

.service-zero__four-cap__slide{
    display: none;
    
width: 100%;
height: 215px;
}






.zero-four__text-mid {
padding: 0;
font-weight: bold;
font-family: 'Roboto', sans-serif;
position: relative;
z-index: 1;
height: 85px;
font-size: 144px;
margin: 0;
overflow: hidden;
color:  #D41F25;

}

.our-clients__cap{
    margin-bottom: 50px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    
}

.our-clients-right{
    display: flex;
    width: 91%;
    justify-content: center;
}





.zero-four__block{
    margin: 0;
    padding: 0;
    list-style: none;
    height: 360px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.zero-four__section{
    width: 270px;
    height: 100px;
    
    
}





 .shadow{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 270px;
   height: 100px;
   
    // background: linear-gradient(270deg,#e1e7ee,#383d3d);
    // background: linear-gradient(45deg,#e1e7ee,#383d3d);
    opacity: 0.8;
}

.shadow::after,
.shadow::before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    // background:linear-gradient(45deg,#cce2e0,#d50421,#535555,#a8182c,#e8e1e2,#4e121a);
    background:linear-gradient(270deg,#d7d6de,#d7d6de,#1a1b59,#d7d6de,#d7d6de,#0e0f58,#d7d6de,#d7d6de);
    // background:linear-gradient(10deg,#f11330,#4e121a,#535555,#e8e1e2,#a8182c);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background-size: 500%;
    z-index: -1;
    animation: cool 30s linear infinite;
    @keyframes cool{
        0%{
            background-position: 0 0;
        }
        50%{
            background-position: 300% 0;
        }
        100%{
            background-position: 0 0;
        }
    }
}

.shadow::after{
    filter: blur(50px);
} 




/////////////////////////////////slide-part

.slide-show{
    
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.slide-part{
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
 animation: animate 15s linear infinite;
transform: rotateY(90deg);
@keyframes animate {
  
    
    0% {
        transform: rotateY(90deg);
    }
    10% {
        transform: rotateY(270deg);
    }
    
     100%{
        transform: rotateY(270deg);
    }
}
}




.slide-part img{
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
    transform: rotateY(180deg);
    
}


.slide-part:nth-child(1){
    animation-delay: 0s;

}
.slide-part:nth-child(2){
    animation-delay: 1.5s;

}
.slide-part:nth-child(3){
    animation-delay: 3s;

}
.slide-part:nth-child(4){
    animation-delay: 4.5s;

}
.slide-part:nth-child(5){
    animation-delay: 6s;
}
.slide-part:nth-child(6){
    animation-delay: 7.5s;

}
.slide-part:nth-child(7){
    animation-delay:9s;

}
.slide-part:nth-child(8){
    animation-delay: 10.5s;

}
.slide-part:nth-child(9){
    animation-delay: 12s;

}

.slide-part:nth-child(10){
    animation-delay: 13.5s;

}
.slide-part:nth-child(1){
    animation-delay: 15s;

}
























.service-zero__four-info{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.service-zero__four-background{
    width: 50%;
    height: 1130px;
}
.zero-four__info-top{
    display: flex;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    line-height: 34px;
    font-weight: normal;
    font-size: 24px;
    color: #fff;
    width: 420px;
    height: 220px;
}
p.four-text{
text-indent: 20px
}

.four-info__bottom-racer{
    width: 100%;
    justify-content:center;
    display: flex;
}

.zero-four__info-bottom{
    width: 420px;
}
.racer{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.racer-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 34px;
}
.raser-pct{
    width: 120px;
}
.racer-name,.racer-professional {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.racer-name{
    
    font-size: 24px;
    font-weight: bold;
}
.racer-professional{
    font-size:18px;
}

.four-info__bottom-switch{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}
ul.bottom-swch{
    margin: 0;
    padding: 0;
    width: 150px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
// li.round-swt{
//     // overflow: hidden;
//     // height: 20px;
//     // width: 20px;
//     // margin: 0;
//     // padding: 0;
//     // -moz-border-radius: 50%;
//     // -webkit-border-radius: 50%;
//     // border: #fff 2px solid;
    
// }

// // li.round-swt:hover{
    
// //     background: #fff;
// // }

input.rad-swt{
    display: none;
}
i.i{
    display: flex;
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 2px;
   
    position: relative;
}

input[type="radio"]+i{
    border-radius: 50%;
}

i:before{
    content:'';
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    border-radius: 2px;
    background: #fff;
    transform: scale(0);
    
}

input[type="radio"]+i:before{
    border-radius: 50%;
}

input:checked+i:before{
    transform: scale(1);
}

.zero-four__questions{
    height: 300px;
    display: flex;
    
    align-items: center;
}

.zero-four__questions-info{
    
    width: 290px;
    line-height: 23px;
    
}
form{
    margin: 0;
}
form.form-content{
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 875px;
}
.form-cnt{
    height: 50px;
    width: 270px;
    border: 1px solid #000;
    padding: 20px;
}

.quest-cap{
    margin: 0;
    padding: 0;
}

.btn-order__form {
    display: flex;
    justify-content: flex-end;
    width:270px;
    height: 50px;
    
}
input.activate-form,.activate-form__service,.activate-form__disc{
    height: 100%;
    border: none;
    background: #D41F25;
    width:270px;
    cursor: pointer;
    
}

.form-row_cnt input{
    height: 50px;
}
.form-row_cnt input[type="submit"]{
    color: #fff;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}


h3.quest-cap{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

p.questions-text{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    
}



.map{
    
    
    width: 100%;
    height: 743px;
   
    
}
iframe.google-map{
    position: relative;
    min-width: 100%;
    min-height: 100%;
}

.map-service__position{
    height: 362px;
    min-width: 570px;
    bottom: 250px;
    left:70%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    
}



ul.map-info{
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    background: linear-gradient(0deg, #212121, #212121);
}

.city__map,.number__map,.working-time__map{
    font-size: 24px;
    width: 370px;
    margin: 0;  
    padding: 0;
    font-family: 'Roboto', sans-serif;
}



li.map-info-top,li.map-info-middle,li.map-info-bottom{
display: flex;
justify-content: center;
width: 100%;
}



.location,.phone,.clock{
    height: 50px;
    width: 50px;
}

.map-info-position{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.city-info,.call-number,.timetable-works{
    display: flex;
    align-items: center;
   
    
}


.footer-top{
    display: flex;
    // justify-content: space-between;
}



h3{
    margin: 0;
    padding: 0;
}

.right-wheel__size{
    width: 180px;
    height: 133px;
}

.right-wheel{
height: 100%;
width: 100%;
}

footer{
    background: #212121;
    height: 520px;
}
.footer-middle{
    display: flex;
    width: 100%;
}
.map-separate{
    display: flex;
    justify-content: space-between;
    color: #FFF;
   
}

.map-info__footer{
    margin: 0;
    padding: 0;
    width: 97%;
}

.footer-down-shooter{
    height: 5px;
    width: 5px;
}

.footer-content{
    display: flex;
    height: 90%;
    flex-direction: column;
    justify-content: space-between;
}

.footer-content__position{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content:center;
}


.location-footer,.phone-footer,.clock-footer{
    height:24px;
    width:24px;
}



.position-pict__footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
}

.order-call__footer{
    display: flex;
    width: 170px;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.number__footer,.city__footer,.works-time__footer{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}


li.map-info-top__footer,li.map-info-middle__footer,li.map-info-bottom__footer{
    display: flex;
}













.footer-bottom{
    display: flex;
    color: #fff;
    justify-content: space-between;
}

.footer-bottom__create{
    display: flex;
    width: 455px;
    align-items: center;
    justify-content: space-between;
}

.logo-promotion__position{
width: 155px;
height:50px;
}

.logo-promotion{
    height: 100%;
    width: 100%;
}

h3.auto,h3.create-site{
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    
}

.footer-bottom__autoservice{
    display: flex;
    align-self: center;
}