.rec-content{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
// ul.menu,ul.menu-footer{
//     display: flex;
//     justify-content: space-between;
//     width: 100%;
//     margin: 0;
//     padding: 0;
    
//     font-family: 'Roboto', sans-serif;
    
//     list-style-type: none;
    
// }
// .foot-link {
//     width: 100%;
// }

// nav {
  
//     align-items: center;
//     display: flex;
//     width: 70%;
//     margin: 0;
//     padding: 0;
//     font-family: 'Roboto', sans-serif;
//     list-style-type: none;
// }



// // .menu {
// //     display: flex;
// //     justify-content: center;
// //     align-items: center;
// // }


.right-wheel__size-middle{
    display: none;
}
.menu li {
    height: 20px;
}
.menu-footer li{
    height: 20px;
} 










button.order-serv  {
    cursor: pointer;
   
    background: linear-gradient(to bottom, #ff0000 20%, #990033 100%);
    position: relative;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;     
    transform-style: preserve-3d;
    transition: ease-in-out 2s;
    border-radius: 60px;

    -moz-transform-style: preserve-3d;
    -moz-transition: ease-in-out 2s;
    
   
}

button.order-serv:hover{
    transform: rotateX(360deg);
    
}





.btn-order {
    
    background: linear-gradient(to bottom, #ff0000 20%, #990033 100%);
    border-radius: 60px;
    display: flex;
    justify-content: flex-end;
    width: 170px;
    height: 50px;
    overflow: hidden;
    
}



span.activate{
//    display: block;
 
   transform-style: preserve-3d;
   transform: perspective(100px) translateZ(20px);
    border: none;
    
    -moz-transform-style: preserve-3d;
    -moz-transform: perspective(100px) translateZ(20px);
   
    
    
}

span.activate:hover{
    background: none;
}


button.order-serv:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 6px;
    right: 6px;
    bottom: 4px;
    border: 2px solid#fff; 
    transform-style: preserve-3d;
    transform: perspective(500px) translateZ(15px);
    border-radius: 60px;

    -moz-transform-style: preserve-3d;
    -moz-transform: perspective(500px) translateZ(15px);

}



button.order-serv:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border: 2px solid#fff; 
    transform-style: preserve-3d;
    transform: perspective(500px) translateZ(-15px);
    border-radius: 60px;

    -moz-transform-style: preserve-3d;
    -moz-transform: perspective(500px) translateZ(-15px);

}


























.position-wheel{
    display: flex;
    align-items: center;
    
    width: 160px;

}

li.service{
    display:flex;
}
img.down-shooter{
    height: 7px;
    width: 7px;
}

.position-shooter__down{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20px;
}


h3{
    font-size: 16px;
    font-weight: lighter;
    
   
}

