footer
              .container
                .footer-content__position
                  .footer-content
                    .footer-top
                      .right-wheel__size 
                       a(href="https://vibirai.ru/avto/right_wheels_remont_shin_i_diskov-711341")
                        .joha RIGHT WHEELS
                        //- a.wheel(href="")
                        //-   img.right-wheel(src="static/img/rectangle-wheel.png", alt="")
                      .burger-footer
                        a.touch-foot(href="#")
                          span.line
                      .menu-color
                        ul.menu-footer
                          li.service-footer
                            a.foot-link(href="") Наши услуги
                            .position-shooter__down
                              a.foot-link__img(href="")
                                img.down-shooter(src="static/img/footer-down__shooter.png", alt="")
                          li.works
                            a.foot-link(href="") Наши работы
                          li.about-company
                            a.foot-link(href="") О компании
                          li.price-list
                            a.foot-link(href="") Прайс-лист
                          li.actions-footer
                            a.foot-link(href="") Акции
                          li.partners
                            a.foot-link(href="") Партнеры
                          li.feedback
                            a.foot-link(href="") Отзывы
                          li.contacts
                            a.foot-link(href="") Контакты
                    .footer-middle
                      ul.map-info__footer
                        .map-middle__img-li
                          .right-wheel__size-middle
                            a.wheel(href="")
                              img.right-wheel__middle(src="static/img/rectangle-wheel.png", alt="")
                          .map-separate
                            li.map-info-top__footer
                              .position-pict__footer
                                
                                  img.phone-footer(src="static/img/phone-map.png", alt="")
                              .call-number
                                a(href="tel: +79227442010").link-tel
                                  h3.number__footer +7 (922) 744-20-10
                              .order-call__footer
                                h2.call-phone(href="") Заказать звонок

                            li.map-info-middle__footer
                              .position-pict__footer
                                
                                  img.location-footer(src="static/img/location-map.png", alt="")
                              .city-info
                                h3.city__footer г. Челябинск, ул. Краснопольский проспект 1/2
                                
                            li.map-info-bottom__footer
                              .position-pict__footer
                                
                                  img.clock-footer(src="static/img/clock-map.png", alt="")
                              .timetable-works
                                h3.works-time__footer График работы: с 9:00 до 20:00
                        
                    .footer-bottom
                      .footer-bottom__autoservice
                     
                          h3.auto © Автосервис, 2018
                      .footer-bottom__create
                        a(href="https://reactive-promotion.ru/")
                          h3.create-site Создание и продвижение сайта
                        .logo-promotion__position
                          a.prom(href="https://reactive-promotion.ru/")
                            img.logo-promotion(src="static/img/footer-bottom__promotion.png", alt="")