section-rectangle
          .container
            .rec-content
              .position-wheel
                a.wheel(href="")
                  img.right-wheels(src="static/img/rectangle-wheel.png", alt="")
              ul.menu
                li.service
                  a.header-menu(href="") Наши услуги
                  .position-shooter__down
                    a(href="").down-shooter__link-header
                      img.down-shooter(src="static/img/rectangle-shooter.png", alt="")
                li.works
                 a.header-menu(href="") Наши работы
                li.about-company
                 a.header-menu(href="") О компании
                li.price-list
                 a.header-menu(href="") Прайс-лист
                li.actions-header
                 a.header-menu(href="") Акции
                li.partners
                 a.header-menu(href="") Партнеры
                li.feedback
                 a.header-menu(href="") Отзывы
                li.contacts
                 a.header-menu(href="") Контакты
              .btn-order 
                button.activate
                  a.order-serv(href="") ЗАКАЗАТЬ УСЛУГУ