section-rectangle
      .container
            .rec-content
              .position-wheel
                a.wheel(href="")
                  img.right-wheels(src="static/img/rectangle-wheel.png", alt="")
              .menu-burger
                a.touch-menu(href='#')
                  span.line
              nav
               ul.menu
                .menu-horizontal
                 ul.menu-horizontal__menu
                  li.service-header  
                   a.header-menu(href="") Наши услуги
                   ul.menu-down
                    li.menu-down__li
                      a.menu-down___link(href="#") Услуга 1
                    li.menu-down__li
                      a.menu-down___link(href="#") Услуга 2
                    li.menu-down__li
                      a.menu-down___link(href="#") Услуга 3
                
                  
                li.works-header
                 a.header-menu(href="") Наши работы
                li.about-company__header
                 a.header-menu(href="") О компании
                li.price-list__header
                 a.header-menu(href="") Прайс-лист
                li.actions-header__header
                 a.header-menu(href="") Акции
                li.partners-header__header
                 a.header-menu(href="") Партнеры
                li.feedback-header
                 a.header-menu(href="") Отзывы
                li.contacts-header
                 a.header-menu(href="") Контакты
              .btn-order 
                button.activate
                  h2.order-serv(href="") ЗАКАЗАТЬ УСЛУГУ
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="static/js/popup-service.js"></script>
