.map
            .container
              .map-service__position
                  ul.map-info
                    li.map-info-top
                      .map-info-position
                        a.map-link(href="")
                          img.location(src="static/img/location-map.png", alt="")
                        .city-info
                            h3.city__map г. Челябинск, ул. Краснопольский проспект 1/2
                    li.map-info-middle
                      .map-info-position
                        a.map-link(href="")
                          img.phone(src="static/img/phone-map.png", alt="")
                        .call-number
                          h3.number__map +7 (922) 744-20-10
                    li.map-info-bottom
                      .map-info-position
                        a.map-link(href="")
                          img.clock(src="static/img/clock-map.png", alt="")
                        .timetable-works
                          h3.working-time__map График работы: с 9:00 до 20:00