.map
            iframe.google-map(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2276.5695597594354!2d61.304559016208366!3d55.20828708041125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c5935c4b270f8f%3A0x8d07cc78811f686!2z0JrRgNCw0YHQvdC-0L_QvtC70YzRgdC60LjQuSDQv9GA0L7RgdC_LiwgMSwg0KfQtdC70Y_QsdC40L3RgdC6LCDQp9C10LvRj9Cx0LjQvdGB0LrQsNGPINC-0LHQuy4sIDQ1NDAxNA!5e0!3m2!1sru!2sru!4v1556044642086!5m2!1sru!2sru', frameborder='0', style='border:0', allowfullscreen='')
            .container
              .map-service__position
                 ul.map-info
                  li.map-info-top
                    .map-info-position
                      img.location(src="static/img/location-map.png", alt="")
                      .city-info
                            h3.city__map г. Челябинск, ул. Краснопольский проспект 1/2
                  li.map-info-middle
                    .map-info-position
                      img.phone(src="static/img/phone-map.png", alt="")
                      .call-number
                        a(href="tel: +79227442010").link-tel
                          h3.number__map +7 (922) 744-20-10
                  li.map-info-bottom
                    .map-info-position
                      img.clock(src="static/img/clock-map.png", alt="")
                      .timetable-works
                          h3.working-time__map График работы: с 9:00 до 20:00
                  