.about-service__content
        .container
                .zero-one__container-about
                    .one-cap__position
                        .service-zero__one-cap
                            h3.zero-one__text 0
                            h3.zero-one__text-mid 2
                            .service-text
                            h3.zero-one__service О СЕРВИСЕ
                    .about-service__text-top
                        .text-top__position
                            p Мы ценим время наших клиентов и стараемся выполнить все работы в максимально короткое время c гарантией качества!
                    .about-service__text-middle
                        .service-text__middle-left
                            .text__middle-left__position
                                p Компания Right Wheels — лидер в отрасли реставрации автомобильных комплектующих таких как: Покраска дисков, Окраска тормозных суппортов, клапанных крышек и др. металлических деталей вашего автомобиля.
                        .service-text__middle-right
                            .text__middle-right__position
                                p Компания была основана в 2013 году и является динамично развивающейся компанией. Основное направление компании RW - это ремонт автомобильных дисков любой сложности и порошково - полимерная окраска дисков в любые цвета!
                    .about-service__pct
                        img.red-car(src="static/img/red-car.png", alt="")