.zero-three__container
              .service-zero__three-cap
                h3.zero-three__text 0
                h3.zero-three__text-mid 3
                .service-text
                  h3.zero-three__service  ПРОМО-ВИДЕО КОМПАНИИ
              .service-zero__three-video
                .homepage-hero-module
                  .video-container
                    .filter
                    video.fillWidth(autoplay='', loop='', muted='', playsinline='', src='static/video/Driving-a-Mercedes.mp4')
                    
                      