.container
            .zero-four__questions
              .zero-four__questions-info
                h3.quest-cap Остались вопросы?
                p.questions-text  Оставьте заявку и мы свяжемся с вами в течение 30 минут
              .zero-four__form
                
                  ul.form-content
                    li
                      input.form-cnt(type='text', placeholder='Ваше имя')
                    |                         
                    li
                      input.form-cnt(type='text', placeholder='Ваш номер телефона')
                    |                         
                    .btn-order__form 
                      button.activate-form__service
                        h2.order-serv ЗАКАЗАТЬ УСЛУГУ