extends ../layout/layout-two-three
block wheels
    .container
              .actions-container__diag
                .service-zero__one
                  .service-one__cap-diag
                    h3.zero-one__text 0
                    h3.zero-one__text-mid 1
                    .service-text
                      h3.zero-one__service-diag АКЦИЯ ДИАГНОСТИКИ КОНДИЦИОНЕРА
                .actions-diagnostics
                    .actions-diagnostics__left
                        .actions-diagnostics__left-content
                            .actions-diagnostics__left-top
                                h3.condicioner-cap Акция: Диагностика кондиционера -30%
                            .condicioner-text
                                p Вы получаете диагностику кондиционера, дозаправку фреоном и заливку масла на СТО «Стелс» со скидкой 30%.
                                .actions-in__pos
                                    h3.actons-in Что входит в стоимость акции:
                                ul.actions-costs__ul
                                    li.actions-costs__li
                                        p  Диагностика системы вентиляции и кондиционирования салона автомобиля.
                                    li.actions-costs__li
                                        p  Диагностика компрессора кондиционера и системы кондиционирования.
                                    li.actions-costs__li
                                        p  Дозаправка системы кондиционирования фреоном (до 250 г).
                                    li.actions-costs__li
                                        p  Добавление красителя для выявления утечки.
                                    li.actions-costs__li
                                        p  Заливка масла в компрессор кондиционера.
                            .actions-diagnostics__left-middle
                                ul.actions-costs__middle-ul
                                    li.actions-costs__middle-li Стоимость: 10 000 ₽
                                    li.actions-costs__middle-li Стоимость с акцией: 7 000 ₽
                            .actions-diagnostics__left-bottom
                                .actions-button__about-sale
                                        button.actions__detail-sale
                                            h3.further УЧАСТВОВАТЬ В АКЦИИ
                    .actions-diagnostics__right 
                        .actions-diagnostics__pct-pos
                            img.diagnostics-pct(src="static/img/actions/actions-2.png", alt="")