extends ../layout/layout-two-three
       
block wheels
    .container
              .actions-container
                .service-zero__one
                  .service-zero__one-cap
                    h3.zero-one__text 0
                    h3.zero-one__text-mid 1
                    .service-text
                      h3.zero-one__service НАШИ АКЦИИ
                .actions-company
                    ul.actions-ul
                        li.acions-ul__content
                            .action-pct__pos
                                img.act-pct(src="static/img/actions/actions-1.png", alt="")
                            .actions-main__position
                                .action-text__pos
                                    h1.action-procent Скидка 10% на шиномонтаж
                                    p.action-procent__text При покраске порошковой покраске дисков - скидка на шиномонтаж 10%
                                .actions-button__about-sale
                                    button.actions__detail-sale__one
                                        h3.further ПОДРОБНЕЙ О АКЦИИ

                        li.acions-ul__content
                            .action-pct__pos
                                img.act-pct(src="static/img/actions/actions-2.png", alt="")
                            .actions-main__position
                                .action-text__pos
                                    h1.action-procent Восстановление геометрии 20%
                                    p.action-procent__text С 01.01.19 по 28.02.19 скидка на восстановление геометрии 20% 
                                .actions-button__about-sale
                                    button.actions__detail-sale__two
                                        h3.further ПОДРОБНЕЙ О АКЦИИ
                    ul.actions-ul
                        li.acions-ul__content
                            .action-pct__pos
                                img.act-pct(src="static/img/actions/actions-2.png", alt="")
                            .actions-main__position
                                .action-text__pos
                                    h1.action-procent Скидки постоянным клиентам
                                    p.action-procent__text Диагностика кондиционера, дозаправка фреоном и заливка масла на СТО «Стелс»
                                .actions-button__about-sale
                                    button.actions__detail-sale__three
                                        h3.further ПОДРОБНЕЙ О АКЦИИ

                        li.acions-ul__content
                            .action-pct__pos
                                img.act-pct(src="static/img/actions/actions-2.png", alt="")
                            .actions-main__position
                                .action-text__pos
                                    h1.action-procent Акция: Диагностика кондиционера -30%
                                    p.action-procent__text Диагностика кондиционера, дозаправка фреоном и заливка масла на СТО «Стелс»
                                .actions-button__about-sale
                                    button.actions__detail-sale__four
                                        h3.further ПОДРОБНЕЙ О АКЦИИ

                
                <script src="static/js/popups-actions.js"></script>
                <script src="static/js/navigation.js"></script>
                <script src="static/js/footer-navigation.js"></script>
                
                