html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    
    link(rel="stylesheet", href="static/css/main.css")

    
    
    
    block title
       
  body
    include ../sections/preloader
    include ../sections/popups/index/popup-service
    include ../sections/popups/index/popup-service__form
    include ../sections/popups/index/popup-addition__form
    .wrapper
     .fix-order
      .fix-order__form
       .fix-order__add
        .fix-order__form-disc
          include ../sections/header
          include ../sections/header-order
          .container
            .moto-wheels
                .moto-wheels__top
                    .moto-wheels__top__left-contain
                        .moto-wheels__top-left
                            h3.moto-bg Покраска мото дисков
                            .moto-bt__text  
                                p Компания Right Wheels — специализированный сервисный центр по профессиональному ремонту литых, стальных и кованых дисков.
                                p Компания была основана в 2013 году и является динамично развивающейся компанией специализирующейся на ремонте литых дискови шин. 
                                p Компания была основана в 2013 году и является динамично развивающейся компанией специализирующейся на ремонте литых дискови шин.
                            include ../sections/buttons/btn-order__form
                    .moto-wheels__top__right-contain
                        .moto-wheels__top-right
                            .moto-pct__position
                                img.moto-wheel__pct(src="static/img/moto-bg__wheel.png", alt="")
                .moto-wheels__middle
                   .moto-wheels__middle-table
                        table.moto-wheels__price-top 
                            caption Порошковая покраска дисков
                                tr 
                                    th.th-left__position Диски
                                    th Покраска в один цвет
                                    th Покраска с кантом
                                    th Покраска в два цвета
                                tr
                                    td.td-left__position-r(height="50" width="25%") R12-R14
                                    td.td-center__position(height="50" width="25%") 6 000 ₽
                                    td.td-center__position(height="50" width="25%") от 10 000 ₽
                                    td.td-center__position(height="50" width="25%") от 12 000 ₽
                                tr
                                    td.td-left__position-r(height="50" width="25%") R15
                                    td.td-center__position(height="50" width="25%") 7 000 ₽
                                    td.td-center__position(height="50" width="25%") от 11 000 ₽
                                    td.td-center__position(height="50" width="25%") 6 000 ₽
                                
                                tr
                                    td.td-left__position-r(height="50" width="25%") R16
                                    td.td-center__position(height="50" width="25%") 8 000 ₽
                                    td.td-center__position(height="50" width="25%") от 12 000 ₽
                                    td.td-center__position(height="50" width="25%") 7 000 ₽
                                tr
                                    td.td-left__position-r(height="50" width="25%") R17
                                    td.td-center__position(height="50" width="25%") 9 000 ₽
                                    td.td-center__position(height="50" width="25%") от 13 000 ₽
                                    td.td-center__position(height="50" width="25%") 8 000 ₽
                                tr
                                    td.td-left__position-r(height="50" width="25%") R18
                                    td.td-center__position(height="50" width="25%") 10 000 ₽
                                    td.td-center__position(height="50" width="25%") от 14 000 ₽
                                    td.td-center__position(height="50" width="25%") 9 000 ₽
                                tr
                                    td.td-left__position-r(height="50" width="25%") R19
                                    td.td-center__position(height="50" width="25%") 11 000 ₽
                                    td.td-center__position(height="50" width="25%") от 15 000 ₽
                                    td.td-center__position(height="50" width="25%") 10 000 ₽
                                tr
                                    td.td-left__position-r(height="50" width="25%") R20
                                    td.td-center__position(height="50" width="25%") 12 000 ₽
                                    td.td-center__position(height="50" width="25%") от 16 000 ₽
                                    td.td-center__position(height="50" width="25%") 11 000 ₽
                                tr
                                    td.td-left__position-r(height="50" width="25%") R21
                                    td.td-center__position(height="50" width="25%") 13 000 ₽
                                    td.td-center__position(height="50" width="25%") от 17 000 ₽
                                    td.td-center__position(height="50" width="25%") 12 000 ₽
                                tr
                                    td.td-left__position-r(height="50" width="25%") R22
                                    td.td-center__position(height="50" width="25%") 14 000 ₽
                                    td.td-center__position(height="50" width="25%") от 18 000 ₽
                                    td.td-center__position(height="50" width="25%") 13 000 ₽
                                tr
                                    td.td-left__position-r(colspan="2")(height="50" width="50%") Клапанная крышка
                                    
                                    td.td-border__position(height="50" width="25%")
                                    td.td-left__position(height="50" width="25%") от 800 ₽
                                    
                                tr
                                    td.td-left__position-r(colspan="2")(height="50" width="50%") Диски (мопед) 2 шт.
                                    td.td-left__position(height="50" width="25%")
                                    td.td-left__position(height="50" width="25%") 2 000 ₽
                                tr
                                    td.td-left__position-r(colspan="2")(height="50" width="50%") Диски (мото) 2 шт.
                                    
                                    td.td-left__position(height="50" width="25%")
                                    td.td-left__position(height="50" width="25%") 3 000 ₽
                                tr
                                    td.td-left__position-r(colspan="2")(height="50" width="50%") Суппорта 2 шт.
                                    
                                    td.td-left__position(height="50" width="25%")
                                    td.td-left__position(height="50" width="25%") 1 500 ₽
                                tr
                                    td.td-left__position-r(colspan="2")(height="50" width="50%") Суппорта 2 шт. с нанесением логотипа
                                    
                                    td.td-border__position(height="50" width="25%")
                                    td.td-left__position(height="50" width="25%") 2 500 ₽
                                tr
                                    td.td-left__position-r(colspan="2")(height="50" width="50%") Суппорта 4 шт.
                                    
                                    td.td-left__position(height="50" width="25%")
                                    td.td-left__position(height="50" width="25%") 3 000 ₽
                                tr
                                    td.td-left__position-r(colspan="2")(height="50" width="50%") Суппорта 4 шт. с нанесением логотипа
                                    
                                    td.td-left__position(height="50" width="25%")
                                    td.td-left__position(height="50" width="25%") 4 000 ₽
                                tr
                                    td.td-left__position-r(colspan="2")(height="50" width="50%") Велосипедная рама 
                                    
                                    td.td-left__position(height="50" width="25%")
                                    td.td-left__position(height="50" width="25%") от 1 200 ₽
                                tr
                                    td.td-left__position-r(colspan="2")(height="50" width="50%") Выпресовка подшипников
                                    
                                    td.td-left__position(height="50" width="25%")
                                    td.td-left__position(height="50" width="25%") от 500 ₽
                                tr
                                    td.td-left__position-r(colspan="2")(height="50" width="50%") Покраска центров R16-R18 (с маскировкой посадочных мест)
                                    
                                    td.td-left__position(height="50" width="25%")
                                    td.td-left__position(height="50" width="25%") от 1 000 ₽
                                tr
                                    td.td-left__position-r(colspan="2")(height="50" width="50%") Покраска центров R19-R20 (с маскировкой посадочных мест)
                                    
                                    td.td-left__position(height="50" width="25%")
                                    td.td-left__position(height="50" width="25%") от 1 500 ₽

                .moto-wheels__bottom
                    ul.moto-serv__top
                        li.moto-serv__text
                            p Пескоструйная обработка (мы не берем наценку за удаление порошкового покрытия!)
                        li.moto-serv__text
                            p Нанесение грунтового слоя.
                        li.moto-serv__text
                            p Нанесение основного цвета.
                        li.moto-serv__text
                            p Нанесение порошкового лака (на выбор три вида лака, глянцевый, полу матовый, супер матовый).           
                    ul.moto-serv__down
                        li.moto-serv__text
                            p * Цены указанны за комплект (4 диска)
                        li.moto-serv__down
                            p **Гарантия на порошковую покраску дисков 2 года.
                .moto-wheels__about
                    .service-zero__one
                        .service-zero__one-cap
                            h3.zero-one__text 0
                            h3.zero-one__text-mid 1
                            .service-text
                                h3.zero-one__service НАШИ РАБОТЫ
                    .moto-wheels_one-content
                     .section-slider
                      .slider-three
                        ul.moto-wheels
                            li.moto-slide
                                .moto-wheel__before
                                    h2.wheel-line.lntxt До
                                .moto-wheel__before-pct
                                    a.st-link(href="")
                                        img.before-pct(src="static/img/bg-moto__wheels/bg-moto__wheels-1.png", alt="")
                            
                            li.moto-slide
                                .moto-wheel__after
                                    h2.wheel-line.lntxt После         
                                .moto-wheel__before-pct
                                    a.st-link(href="")
                                        img.before-pct(src="static/img/bg-moto__wheels/bg-moto__wheels-2.png", alt="")
                        ul.moto-wheels
                            li.moto-slide
                                .moto-wheel__before
                                    h2.wheel-line.lntxt До
                                .moto-wheel__before-pct
                                    a.st-link(href="")
                                        img.before-pct(src="static/img/bg-moto__wheels/bg-moto__wheels-1.png", alt="")
                            
                            li.moto-slide
                                .moto-wheel__after
                                    h2.wheel-line.lntxt После         
                                .moto-wheel__before-pct
                                    a.st-link(href="")
                                        img.before-pct(src="static/img/bg-moto__wheels/bg-moto__wheels-2.png", alt="")
                        ul.moto-wheels
                            li.moto-slide
                                .moto-wheel__before
                                    h2.wheel-line.lntxt До
                                .moto-wheel__before-pct
                                    a.st-link(href="")
                                        img.before-pct(src="static/img/bg-moto__wheels/bg-moto__wheels-1.png", alt="")
                            
                            li.moto-slide
                                .moto-wheel__after
                                    h2.wheel-line.lntxt После         
                                .moto-wheel__before-pct
                                    a.st-link(href="")
                                        img.before-pct(src="static/img/bg-moto__wheels/bg-moto__wheels-2.png", alt="")
                        ul.moto-wheels
                            li.moto-slide
                                .moto-wheel__before
                                    h2.wheel-line.lntxt До
                                .moto-wheel__before-pct
                                    a.st-link(href="")
                                        img.before-pct(src="static/img/bg-moto__wheels/bg-moto__wheels-1.png", alt="")
                            
                            li.moto-slide
                                .moto-wheel__after
                                    h2.wheel-line.lntxt После         
                                .moto-wheel__before-pct
                                    a.st-link(href="")
                                        img.before-pct(src="static/img/bg-moto__wheels/bg-moto__wheels-2.png", alt="")
                    .moto-wheels__shooters
                        .moto-left__shooter
                            a(href="").left-shooter__moto-link(src="static/img/moto-shout.png", alt="")
                                span
                                
                        .moto-right__shooter
                            a(href="").right-shooter__moto-link
                                span
                        //-     .moto-wheels__switch
                            .moto-swch
                                label.moto-label(for="")
                                    input.moto-input(type="radio")
                                    span.moto-span
                                label.moto-label(for="")
                                    input.moto-input(type="radio")
                                    span.moto-span
                                label.moto-label(for="")
                                    input.moto-input(type="radio")
                                    span.moto-span
                                label.moto-label(for="")
                                    input.moto-input(type="radio")
                                    span.moto-span
                                label.moto-label(for="")
                                    input.moto-input(type="radio")
                                    span.moto-span
                      
        
        include ../sections/sections-zero/section-zero__two
        include ../sections/section-red__car
        include ../sections/forms/section-zero__four-form
        .container
              .zero-one__container
                .service-zero__one
                  .service-zero__one-cap
                    h3.zero-one__text 0
                    h3.zero-one__text-mid 4
                    .service-text
                      h3.zero-one__service НАШИ УСЛУГИ
                .service-zero__one-wheels
                  ul.wheels
                    li.first-wheel
                      a.st-link(href="")
                        img.st(src="static/img/service-wheel-1.png", alt="")
                      a.style(href="") Покраска дисков
                    li.second-wheel
                      a.st-link(href="")
                        img.st(src="static/img/service-wheel-2.png", alt="") 
                      a.style(href="") Правка и ремонт дисков
                  
                    li.third-wheel
                      a.st-link(href="")
                        img.st(src="static/img/service-wheel-3.png", alt="")
                      a.style(href="") Шиномонтажные услуги
                    li.fourth-wheel
                      a.st-link(href="")
                        img.st(src="static/img/service-wheel-4.png", alt="")
                      a.style(href="") Дополнительные услуги
                    
        include ../sections/map
        include ../sections/footer
    <script src='static/js/libs.min.js'></script>
    <script src="static/js/particles.min.js"></script>
    <script src="static/js/slick.js"></script>
    <script src="static/js/popup-form.js"></script>
    <script src="static/js/popup-addition__form.js"></script>
    <script src="static/js/navigation.js"></script>
    <script src="static/js/footer-navigation.js"></script>
    <script src="static/js/preloader.js"></script>