extends ../layout/layout-two-three

block wheels
    .container
              .bg-wheels__container
                .service-zero__one
                  .service-zero__one-cap
                    h3.zero-one__text 0
                    h3.zero-one__text-mid 1
                    .service-text
                      h3.zero-one__service ПОКРАСКА ДИСКОВ
                .bg-wheels__one-wheels
                  .wheels-bg__pos-main__ul
                    ul.wheels-bg__pos-first
                      li.first-wheel
                        a.st-link(href="")
                          img.st(src="static/img/bg-wheels/bg-wheel-1.png", alt="")
                        a.style(href="") Покраска дисков
                      li.second-wheel
                        a.st-link(href="")
                          img.st(src="static/img/bg-wheels/bg-wheel-2.png", alt="") 
                        a.style(href="") Правка и ремонт дисков
                    
                      li.third-wheel
                        a.st-link(href="")
                          img.st(src="static/img/bg-wheels/bg-wheel-3.png", alt="")
                        a.style(href="") Покраска дисков с кантом
                      li.fourth-wheel
                        a.st-link(href="")
                          img.st(src="static/img/bg-wheels/bg-wheel-4.png", alt="")
                        a.style(href="") Покраска мото дисков
                  
                      li.first-wheel
                        a.st-link(href="")
                          img.st(src="static/img/bg-wheels/bg-wheel-5.png", alt="")
                        a.style(href="") Покраска суппортов, пружин, клапанных крышки
                  