extends ../layout/layout-two-three
block wheels
   .container
              .comments-container
                .service-zero__one
                  .service-zero__one-cap
                    h3.zero-one__text 0
                    h3.zero-one__text-mid 1
                    .service-text
                      h3.zero-one__service НАШИ ОТЗЫВЫ
                .comments-sections
                  ul.pos-comments
                    li.special-comment
                        img.cmnt-pct(src="static/img/page-comments/comment.png", alt="")
                    li.special-comment
                        img.cmnt-pct(src="static/img/page-comments/comment.png", alt="")
                  ul.pos-comments
                    li.special-comment
                        img.cmnt-pct(src="static/img/page-comments/comment.png", alt="")
                    li.special-comment
                        img.cmnt-pct(src="static/img/page-comments/comment.png", alt="")
                  ul.pos-comments
                    li.special-comment
                        img.cmnt-pct(src="static/img/page-comments/comment.png", alt="")
                    li.special-comment
                        img.cmnt-pct(src="static/img/page-comments/comment.png", alt="")
                  