extends ../layout/layout-two-three
block wheels
    .container
              .works-wheels__container
                .service-zero__one
                  .service-zero__one-cap
                    h3.zero-one__text 0
                    h3.zero-one__text-mid 1
                    .service-text
                      h3.zero-one__service НАШИ РАБОТЫ
                .works-wheels__one-wheels
                  ul.wheels-bg__pos-works
                    .fst-wheels__composit
                      li.first-wheel__works
                        img.st-works(src="static/img/page-works/works-wheel-1.png", alt="")
                      li.second-wheel__works
                        img.st-works(src="static/img/page-works/works-wheel-2.png", alt="") 
                    .snd-wheels__composit
                      li.third-wheel__works
                        img.st-works(src="static/img/page-works/works-wheel-3.png", alt="")
                      li.fourth-wheel__works
                        img.st-works(src="static/img/page-works/works-wheel-4.png", alt="")
                  ul.wheels-bg__pos-works
                    .fst-wheels__composit
                      li.first-wheel__works
                        img.st-works(src="static/img/page-works/works-wheel-5.png", alt="")
                      li.second-wheel__works
                        img.st-works(src="static/img/page-works/works-wheel-6.png", alt="") 
                    .snd-wheels__composit
                      li.third-wheel__works
                        img.st-works(src="static/img/page-works/works-wheel-7.png", alt="")
                      li.fourth-wheel__works
                        img.st-works(src="static/img/page-works/works-wheel-8.png", alt="")
                  ul.wheels-bg__pos-works
                    .fst-wheels__composit
                      li.first-wheel__works
                        img.st-works(src="static/img/page-works/works-wheel-9.png", alt="")
                      li.second-wheel__works
                        img.st-works(src="static/img/page-works/works-wheel-10.png", alt="") 
                    .snd-wheels__composit
                      li.third-wheel__works
                        img.st-works(src="static/img/page-works/works-wheel-11.png", alt="")
                      li.fourth-wheel__works
                        img.st-works(src="static/img/page-works/works-wheel-12.png", alt="")
                  ul.wheels-bg__pos-works
                    .wheels-bg__works-pos 
                      .fst-wheels__composit
                        li.first-wheel__works
                          img.st-works(src="static/img/page-works/works-wheel-13.png", alt="")
                        li.second-wheel__works
                          img.st-works(src="static/img/page-works/works-wheel-14.png", alt="")
                      .snd-wheels__composit 
                        li.third-wheel__works
                          img.st-works(src="static/img/page-works/works-wheel-15.png", alt="")
                    
                    
                