@media screen and (max-width: 1200px){ //desctop
    .container{
        width: 970px;
    }
    .header-left {
    width: 90%;
   
}

.timetable {
    width: 50%;
}

.position-wheel {
    width: 100px;
}

ul.menu {
   width: 100%;
    }

.left-shooter__link {
  left: 3%;
  bottom: 25%;
}
.right-shooter__link{
    right: 3%;
    bottom: 25%;
}
.section-actions__background {
    background-position: -415px -100px;
}

.zero-one__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 900px;
}
.wheels {
display: flex;
flex-wrap: wrap;

  
}

.repair {
    width: 100%;
}
.service-zero__one-wheels {
    height: 100%;
    flex-direction: column;
}

.service-zero__three-video, .company-video {
    width: 100%;
    
}

.zero-four__container {
    height: 720px;
}
.service-zero__four-background {
  height: 100%;
}

.zero-four__service {
    font-size: 41px;
}


.service-zero__four-right {
    height: 85%;
}

.zero-four__questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.zero-four__questions-info {
    flex-direction: column;
    width: 100%;
    padding-left: 0;
}

.zero-four__form{
    width: 100%;
    display:flex;
    justify-content:space-between;
}

.map {
  height: 590px;
 
}
.map-service__position{
    height: 270px;
    bottom: 35px;
    left: 45%;
    
    
    // height: 362px;
    // width: 570px;
    
}



.map-separate{
    width: 101%;
}

ul.menu-footer {
    text-align: center;
    width: 100%;
    display: flex;
    
}
}


.zero-four__partners{
    width: 570px;
}



























@media screen and (max-width: 992px){ //laptop
    .container{
        width: 750px;
    }
    .shadow{
        width: 200px;
    }
    .zero-four__section{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-left{
        width: 80%;
    }
    .timetable {
        width: 45%;
    }
    .header-text {
        font-size: 11px;
    }
    .mobile {
       font-size: 11px;
    }
    .order-call {
      font-size: 11px;
    }
    .position-pict {
      width: 20px;
    }
    .header-right {
        width: 40%;
    }
   

    .menu{
        
        font-size: 12px;
    }
    
    .order-serv {
       font-size: 12px;
    }
    .btn-order {
       width: 110px;
       }

    .section-actions__background {
        background-position: -520px -100px;
    }
    .zero-one__container{
        height: 900px;
    }
    .setvice-zero__two-right {
        width: 55%;
    }

    .service-zero__two-left{
        align-items: center;
    }
    .repair {
        height: 360px;
        
    }
    .service-zero__four-cap__slide{
        justify-content: center;
        display: flex;
        width: 100%;
        height: 345px;
    }

    .service-zero__four-cap{
        display: none;
        

    }
    
    
    .service-zero__main{
        flex-direction: column;
        align-items: center;
        height: 1200px;
    }
    .zero-four__container {
        
        height: 1200px;
    }
    .zero-three__service{
       font-size: 41px;
    }
    .zero-four__partners{
        align-items: center;
        justify-content: space-between;
        width: 480px;
    }


ul.zero-four__block{
    display: flex;
    justify-content: space-around;
}




    .zero-four__form {
      
        justify-content: center;
    }

    .service-zero__four-info {
        height: 550px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .service-zero__four-background {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .zero-four__info-top{
        font-size: 20px;
    }
    
    .zero-one__service,.zero-two__service,.zero-three__service,.zero-four__service{
        font-size: 30px;
    
    }
    
    .our-clients__cap {
        font-size: 20px;
        
    }

    .our-clients-right {
        width: 100%;
        
    }

    .zero-four__block {
        margin: 0;
    }
    .zero-four__section {
        width: 215px;
        
    }

.form-content{
    height: 200px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.quest-cap,.questions-text{
    width: 270px;
}

.zero-four__questions-info {
    display: flex;
    padding-left: 0px;
    align-items: center;
}

.zero-four__questions {
    height: 450px;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.map {
   background-position: -515px 0px;
}

.city__map, .number__map, .working-time__map {
    font-size: 20px;
   
}

.location, .phone, .clock {
    height: 30px;
    width: 30px;
}



.right-wheel__size {
    width: 150px;
    height: 103px;
}

.footer-top{
    height: 150px;
    
}

// ul.menu-footer{
//     width: 100%;
// }

.map-separate {
    align-items:center;
    height: 100px;
   display: flex;
   flex-direction: column;
}
.map-info__footer {
    width: 100%;
}

.right-wheel__size{
    display: none;
    height: 0;
    width: 0;
}
.footer-top {
    
    height: 250px;
}
.footer-middle{
    height: 230px;
}
li.map-info-top__footer, li.map-info-middle__footer, li.map-info-bottom__footer{
    width: 390px;
}

.map-middle__img-li{
    display: flex;
}

.right-wheel__size-middle{
    width: 190px;
    height: 103px;
    display: block;
}

.right-wheel__middle{
    width: 150px;
    height: 100%;
}

.map-service__position{
    bottom: 35px;
    left: 30%;
    min-width: 525px;
    height: 250px;
    
    
    // height: 362px;
    // width: 570px;
    
}
}

@media screen and (max-width: 768px){ //tablets
    .container{
        width: 480px;
    }
    .footer-content__position{
        height: 90%;
    }
  .footer-middle{
      height: 330px;
  }
.footer-top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

    .zero-four__info-top {
      
        height: 124px;
    }
.zero-two__container{
    flex-direction: column;
    align-items: center;
}
.service-zero__two-left{
    width: 100%;
}
.rec-content {
    height: 155px;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
}

.menu-horizontal__menu{
    display: none;
}

ul.menu{
    width: 73%;
}

.left-shooter__link {
    left: 3%;
    bottom: 0%;
  }
  .right-shooter__link{
      right: 3%;
      bottom: 0%;
  }




.zero-one__container{
    height: 1500px;
}


.wheels{
    justify-content: center;
}




.map-service__position{
    height:210px;
    min-width: 400px;
    bottom: 35px;
    left: 35%;
    
    // height: 362px;
    // width: 570px;
    
}














    .header-information__contain{
        display: flex;
        justify-content: space-between;
    }

  

    .position-wheel{
        display: none;
        height: 0;
        width: 0;
    }

    .position-wheel__header{
        display: flex;
        align-items: center;
        
        
    }

    .header-information{
        flex-direction: column;
    }
    .header-left{
        flex-direction: column;
        width: 300px;
    }

    .header-right{
        justify-content: inherit;
        width: 300px;
    }
    .city,.timetable,.call{
        
        width: 280px;
    }



ul.menu {
    width: 61%;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}


.btn-order{
    width: 40%;
}

.activate {
    
    width: 100%;
}

.actions-info__title {
   
    width: 100%;
 
}

.actions{
    font-size: 28px;
}
    
.sales{
    width: 100%;
}

.tire-shop {
    height: 80px;
    font-size: 18px;
    
}
.slogan {
    height: 60px;
}
.section-actions__background {
    background-position: -635px -100px;
}
.st {
    height: 180px;
    width: 200px;
}

.repair {
    height: 300px;
}

ul.benefits-one, ul.benefits-two {
    align-items: center;
    flex-direction: column;
   
}

.service-zero__three-video{
    height: 270px;
}

.company-video{
    height: 100%;
}

.zero-one__text,.zero-one__text-mid,.zero-two__text,.zero-two__text-mid,.zero-three__text,.zero-three__text-mid,.zero-four__text,.zero-four__text-mid{
    font-size: 135px;
    min-width: 75px;
}

.zero-one__service, .zero-two__service, .zero-three__service, .zero-four__service {
    font-size: 22px;
    
}

.zero-three__container {
    min-height: 610px;
}

.zero-four__info-top {
    font-size: 16px;
    width: 90%;
}

.racer {
    height: 80px;
    width: 80px;
    
}

.racer-name {
    font-size: 20px;
    
}

.racer-professional{
    font-size: 15px;
}



.service-zero__four-background {
   
    width: 80%;
   
}

.service-zero__four-background{
    width: 500px;
}


.ul-zero__four-hidden{
    display: none;
}


.zero-four__partners{
    width: 485px;
    display: flex;
    justify-content: center;
}



.city__map, .number__map, .working-time__map {
    font-size: 17px;
    width: 265px;
  
}


footer {
    
    height: 625px;
}

.right-wheel__size-middle{
    width: 165px;
    height: 103px;
}

.map-middle__img-li{
    height: 230px;
}
.map-middle__img-li {
    
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.map {
    height: 510px;
    background-position: -396px 0px;
}
.menu-color{
    width: 180px;
    height: 180px;
    font-style: 14px;
    flex-direction: column;
   
}


.service,.works,.about-company,.price-list,.actions-footer,.partners,.feedback,.contacts,.actions-header{
    width: 150px;
}

.logo-promotion__position {
    width: 98px;
    height: 32px;
}
h3.auto, h3.create-site {
    font-size: 15px;
 
}
.footer-bottom__create {
    
    width: 330px;
    
}
}

@media screen and (max-width: 480px){ //phones
    .container{
        width: 95%;
    }
    

  
    .map-service__position {
        height: 150px;
        min-width: 320px;
        bottom: 20px;
        left: 20%;
    }
    .section-actions__background {
       
        -webkit-clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 100% 0%, 100% 60%, 50% 88%, 0% 60%, 0 95%);
        clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 100% 0%, 100% 75%, 50% 88%, 0% 75%, 0 95%);
        background-position: -777px -100px;
    }

    .actions-info__title {
        height: 50%;
    }

    .sales{
        height: 190px;
    }

    .left-shooter__link {
        left: 3%;
        bottom: -35%;
      }
      .right-shooter__link{
          right: 3%;
          bottom: -35%;
      }

      .st {
        height: 180px;
        width: 195px;
    }
    

    .zero-two__container {
       
        flex-direction: column;
    }

    .service-zero__two-left {
      
        width: 100%;
    }

    .setvice-zero__two-right{
        width: 100%;
    }


    .service-zero__two-cap {
        justify-content: center;
       
    }

    .service-zero__main {
       
        flex-direction: column;
       
    }
.service-zero__main{
    height: 100%;
}
    .zero-four__container {
        
        height: 1500px;
    }

    .zero-four__partners{
        width: 415px;
    }
    ul.zero-four__block{
        height: 700px;
        justify-content: center;
    }
.service-zero__right-position{
    width: 100%;
}
.service-zero__four-cap{
    justify-content: center;
}
.zero-three__container {
   
    min-height: 710px;
}

.map {
    height: 455px;
    background-position: -396px 0px;
}

.location, .phone, .clock {
    height: 15px;
    width: 15px;
}
.city__map, .number__map, .working-time__map {
    font-size: 13px;
    width: 230px;
    height: 25px;
}
h3.auto, h3.create-site {
    font-size: 14px;
}
.footer-bottom {
    height: 190px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.footer-bottom__autoservice{
    height: 35px;
}
.footer-bottom__create {
    flex-direction: column;
    height: 55px;
    justify-content: space-between;
 
}

.service-zero__four-background{
    width: 100%;
}



@media screen and (max-width: 320px){ //phones Iphone 5
    .container{
        width: 95%;
    }
    .zero-three__container {
   
        min-height: 610px;
    }
    .map-service__position {
        height: 105px;
        min-width: 100%;
        bottom: 110px;
        left: -5%;
    }
    .header-information__contain{
        flex-direction: column;
        align-items: center;
    }

    nav{
        width: 45%;
    }
    ul.menu{
        width: 100%;
    }

    .zero-one__container{
       display: flex;
       align-items:center;
        height: 1500px;
    }

    ul.wheels{
        flex-direction: column;
        align-items: center;
        height: 1300px;
    }
    .service-zero__two-left{
        display: flex;
        justify-content: center;
    }
    .actions-info{
        height: 740px;
    }
    .act-car{
        height: 630px;
    }
    .section-slider{
        height: 700px;
    }
    .actions-info__title{
        height: 50%;
    }
    .sales{
        height: 240px;
    }
    .left-shooter__link{
        bottom: -200px;
    }
    .right-shooter__link{
        bottom:-200px;
    }

    .zero-one__service, .zero-two__service, .zero-three__service, .zero-four__service{
        font-size: 20px;
    }
    .zero-three__text-mid{
        width: 120px;
    }

    .zero-four__info-bottom{
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 300px;
    }
    .setvice-zero__two-right{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .racer-name{
        font-size: 18px;
    }
//////////////////////////////////////////////////////footer
footer {
    height: 830px;
}
.footer-top {
    height: 240px;
}
.map-middle__img-li{
    height:375px;
}
.map-separate{
    height: 250px;
}
.map-info-top__footer,.map-info-middle__footer,.map-info-bottom__footer{
    height:125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.position-pict__footer{
    height: 70px;
}

.footer-middle {
    height: 950px;
}


.burger-footer{
    width: 100%;
}
.footer-top{
    display: flex;
    flex-direction: column;
}







    

    
 } 















}