@media screen and (max-width: 1200px){ //desctop
    .container{
        width: 970px;
    }

    .actions-container {
        height: 1400px;
    }
    .actions-ul{
        flex-direction: column;
        align-items:center;
    }
}



@media screen and (max-width: 992px){ //laptop
    .container{
        width: 750px;
    }
    
    
    
}

@media screen and (max-width: 768px){ //tablets
    .container{
        width: 480px;
    }
    
}

@media screen and (max-width: 480px){ //phones
    .container{
        width: 95%;
    }
    .actions-container {
        height: 2500px;
    }
    .acions-ul__content{
        display: flex;
        align-items:center;
        flex-direction: column;
    }

    
}   