.moto-wheels__bottom
                    ul.moto-serv__top
                        li.moto-serv__text
                            p Пескоструйная обработка (мы не берем наценку за удаление порошкового покрытия!)
                        li.moto-serv__text
                            p Нанесение грунтового слоя.
                        li.moto-serv__text
                            p Нанесение основного цвета.
                        li.moto-serv__text
                            p Нанесение порошкового лака (на выбор три вида лака, глянцевый, полу матовый, супер матовый).           
                    ul.moto-serv__down
                        li.moto-serv__text
                            p * Цены указанны за комплект (4 диска)
                        li.moto-serv__down
                            p **Гарантия на порошковую покраску дисков 2 года.