.zero-one__cap-about{
    display: flex;
}

.about-company__top{
    display: flex;
    
}

.zero-one__container-left{
    width: 50%;
}
.service-zero__one-about{
    display: flex;
    align-items:center;
    width: 100%;
    height: 215px;
}
ul.company-text__content{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    height: 333px;
    width: 455px;
}

.about-cmp__pct{
    width: 701px;
height: 447px;
}

.zero-one__container-right{
    display: flex;
    align-items: center;
}