ul.pos-comments{
    display: flex;
    
}
li.special-comment{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 355px;
}
img.cmnt-pct{
    width: 570px;
    height: 340px;
}