.works-wheels__container{
    height: 1250px;
}


ul.wheels-bg__pos-works{
    display: flex;
    
}
.wheels-bg__works-pos{
    display: flex;
}

li.first-wheel__works,li.second-wheel__works,li.third-wheel__works,li.fourth-wheel__works{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 293px;
    height: 250px;
}

img.st-works{
    width: 270px;
    height: 228px;
}

.fst-wheels__composit,.snd-wheels__composit{
    display:flex;
}