.overlay-form
        .pop-up__service-form
            h2.review ЧТОБЫ ЗАКАЗАТЬ УСЛУГУ:
            form.postcard(action='')
              .form-row
                label(for='name') Ваше имя
                input#name(type='text', required='')
              .form-row
                label(for='email') Ваш Email
                input#email(type='email', required='')
              .form-row
                label(for='message') Ваше сообщение
                textarea#message(rows='5', required='')
              .form-row
                input(type='submit', value='Отправить сообщение')
           
            .close-popup__service-form
              .js-close__campaign

