.overlay-service
        .pop-up__service
            h2.popup-capture ЧТОБЫ ЗАКАЗАТЬ УСЛУГУ,ВАМ НЕОБХОДИМО:
            p.popup-text Авторизуйтесь на портале
           
            .close-popup__service
              .js-close__campaign