.overlay-addition
        .pop-up__service-addition
            h2.popup-capture ЧТОБЫ ЗАКАЗАТЬ УСЛУГУ,ВАМ НЕОБХОДИМО:
            p.popup-text Авторизуйтесь на портале
           
            .close-popup__service-addition
              .js-close__campaign

