.overlay-form
        .pop-up__service-form
            h2.popup-capture ЧТОБЫ ЗАКАЗАТЬ УСЛУГУ,ВАМ НЕОБХОДИМО:
            p.popup-text Авторизуйтесь на портале
           
            .close-popup__service-form
              .js-close__campaign

