.overlay-form
        .pop-up__service-form
            h2.review ЧТОБЫ ЗАКАЗАТЬ ЗВОНОК:
            form.postcard(action='')
              .form-row
                label(for='name') Ваше имя
                input#name(type='text', required='')
              .form-row
                label(for='tel') Ваш телефон
                input#phone(type='tel', required='')
              .form-row
                input(type='submit', value='Отправить сообщение')
           
            .close-popup__service-form
              .js-close__campaign

