.overlay
        .pop-up
            h2.popup-capture АКЦИЯ!
            p.popup-text RIGHT WHEELS твердо решил идти по пути построения автобизнеса новой реальности, создавая новую систему взаимодействия производителей, дилеров, автовладельцев (клиентов), инвесторов на более открытых, прозрачных и эффективных принципах. Всем вместе превратиться в сообщество новой автомобильной реальности, объединенное общими интересами.
            .close-popup
              .js-close__campaign