.zero-four__container
            .service-zero__main
              .service-zero__four-background
                .service-zero__four-left
                  .service-zero__four-info
                    .zero-four__info-top
                      p.four-text Отреставрировали и покрасили мне мои кованые японские диски, как новые, я их минут десять щупал, оторваться не мог:) Работа сделана качестве!
                    .zero-four__info-bottom
                      .four-info__bottom-racer
                        .raser-pct
                          a.racer-link(href="")
                            img.racer(src="static/img/Shumaher.png", alt="")
                        .racer-info 
                          h3.racer-name Михаэль Шумахер
                          p.racer-professional Водитель профессианал
                      .four-info__bottom-switch
                        ul.bottom-swch
                          li.round-swt
                            label
                              input.rad-swt(type="radio" name="name")
                              i.i
                          li.round-swt
                            label
                              input.rad-swt(type="radio" name="name")
                              i.i
                          li.round-swt
                            label
                              input.rad-swt(type="radio" name="name")
                              i.i
                          li.round-swt
                            label
                              input.rad-swt(type="radio" name="name")
                              i.i
                          li.round-swt
                            label
                              input.rad-swt(type="radio" name="name")
                              i.i
              .service-zero__four-right
                .service-zero__right-position
                  .service-zero__four-cap
                    h3.zero-four__text 0
                    h3.zero-four__text-mid 4
                    .service-text
                      h3.zero-four__service  ЧТО О НАС ГОВОРЯТ
                  .our-clients-right
                    h3.our-clients__cap НАШИ КЛИЕНТЫ И ПАРТНЕРЫ
                  .zero-four__partners
                    ul.zero-four__block
                      li.zero-four__section
                      li.zero-four__section
                      li.zero-four__section
                    .ul-zero__four-hidden
                      ul.zero-four__block
                        li.zero-four__section
                        li.zero-four__section
                        li.zero-four__section
          .container
            .zero-four__questions
              .zero-four__questions-info
                h3.quest-cap Остались вопросы?
                p.questions-text  Оставьте заявку и мы свяжемся с вами в течение 30 минут
              .zero-four__form
                form
                  ul.form-content
                    li
                      input.form-cnt(type='text', placeholder='Ваше имя')
                    |                         
                    li
                      input.form-cnt(type='text', placeholder='Ваш номер телефона')
                    |                         
                    .btn-order__form 
                      button.activate__form
                        a.order-serv(href="") ЗАКАЗАТЬ УСЛУГУ