.container
    .zero-one__container
                .service-zero__one
                  .service-zero__one-cap
                    h3.zero-one__text 0
                    h3.zero-one__text-mid 1
                    .service-text
                      h3.zero-one__service НАШИ УСЛУГИ
                .service-zero__one-wheels
                  ul.wheels
                    li.first-wheel
                      a.st-link(href="")
                        img.st(src="static/img/service-wheel-1.png", alt="")
                      a.style(href="") Покраска дисков
                    li.second-wheel
                      a.st-link(href="")
                        img.st(src="static/img/service-wheel-2.png", alt="") 
                      a.style(href="") Правка и ремонт дисков
                  ul.wheels
                    li.third-wheel
                      a.st-link(href="")
                        img.st(src="static/img/service-wheel-3.png", alt="")
                      a.style(href="") Шиномонтажные услуги
                    li.fourth-wheel
                      a.st-link(href="")
                        img.st(src="static/img/service-wheel-4.png", alt="")
                      a.style(href="") Дополнительные услуги

                    