.zero-two__container
            .service-zero__two-left
              img.repair(src="static/img/service-repairing.png", alt="")
            .setvice-zero__two-right
              .service-zero__two-cap
                h3.zero-two__text 0
                h3.zero-two__text-mid 2
                .service-text
                  h3.zero-two__service ПРЕИМУЩЕСТВА
              ul.benefits-one
                li.benefit-first 
                  .bn-position 
                    img.bn(src="static/img/hexagon.png", alt="")
                  .benefit-text
                    h3.benefit Большой опыт работы
                    p.benefit-text Опыт работы более 5 лет.
                li.benefit-first 
                  .bn-position 
                    img.bn(src="static/img/hexagon.png", alt="")
                  .benefit-text
                    h3.benefit Шиномонтажные услуги
                    p.benefit-text Все работы выполняются в одном месте.
    
              ul.benefits-two
                  li.benefit-second
                    .bn-position  
                      img.bn(src="static/img/hexagon.png", alt="")
                    .benefit-text
                      h3.benefit Шиномонтажные услуги
                      p.benefit-text Гарантии на все услуги.
                  li.benefit-second
                    .bn-position  
                      img.bn(src="static/img/hexagon.png", alt="")
                    .benefit-text
                      h3.benefit Большой опыт работы
                      p.benefit-text Любая форма оплаты: наличными, безнал, расчетный счет.