.zero-three__container
              .service-zero__three-cap
                h3.zero-three__text 0
                h3.zero-three__text-mid 3
                .service-text
                  h3.zero-three__service  ПРОМО-ВИДЕО КОМПАНИИ
              .service-zero__three-video
                img.company-video(src="static/img/map.png", alt="")